:root {
  --primary: #141414;
  --light: #f3f3f3;
  --dark: #686868;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--primary);
  color: var(--light);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.4;
}

img {
  max-width: 100%;
}

h1 {
  padding-top: 60px;
}

.wrapper {
  margin: 0;
  padding: 0;
}

/* HEADER */
.navbar-header {
  padding: 20px 20px 0 20px;
  height: 70px;
  position: fixed;
  top: 0;
  display: -ms-grid;
  display: grid;
  grid-gap: 5px;
  -ms-grid-columns: 1fr 4fr 1fr;
      grid-template-columns: 1fr 4fr 1fr;
      grid-template-areas: "nt mn mn sb . . . ";
  width: 100%;
  margin-bottom: 0px;
}

.netflixLogo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: nt;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100px;
  max-height: 100%;
  padding-left: 15px;
  padding-top: 0px;
}

.netflixLogo img {
  height: 35px;
}

#logo {
  color: #e50914;
  margin: 0;
  padding: 0;
}

.main-nav {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: mn;
  padding: 0 30px 0 20px;
}

.main-nav a {
  color: var(--light);
  text-decoration: none;
  margin: 5px;
}

.main-nav a:hover {
  color: var(--dark);
}

.sub-nav {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: sb;
  padding: 0 40px 0 40px;
}

.sub-nav a {
  color: var(--light);
  text-decoration: none;
  margin: 5px;
}

.sub-nav a:hover {
  color: var(--dark);
}

/* MAIN CONTIANER */
.main-container {
  padding: 50px;
}

.box {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: (minmax(100px, 1fr))[6];
      grid-template-columns: repeat(6, minmax(100px, 1fr));
}

.box a {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.box a:hover {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
}

.box img {
  border-radius: 2px;
}

/* LINKS */
.link {
  padding: 50px;
}

.sub-links ul {
  list-style: none;
  padding: 0;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.sub-links a {
  color: var(--dark);
  text-decoration: none;
}

.sub-links a:hover {
  color: var(--dark);
  text-decoration: underline;
}

.logos a {
  padding: 10px;
}

.logo {
  color: var(--dark);
}

/* FOOTER */
footer {
  padding: 20px;
  text-align: center;
  color: var(--dark);
  margin: 10px;
}

/* MEDIA QUERIES */
@media (max-width: 900px) {
  header {
    display: -ms-grid;
    display: grid;
    grid-gap: 20px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "nt nt nt  .  .  . sb . . . " "mn mn mn mn mn mn  mn mn mn mn";
  }
  .box {
    display: -ms-grid;
    display: grid;
    grid-gap: 20px;
    -ms-grid-columns: (minmax(100px, 1fr))[4];
        grid-template-columns: repeat(4, minmax(100px, 1fr));
  }
}

@media (max-width: 700px) {
  header {
    display: -ms-grid;
    display: grid;
    grid-gap: 20px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "nt nt nt  .  .  . sb . . . " "mn mn mn mn mn mn  mn mn mn mn";
  }
  .box {
    display: -ms-grid;
    display: grid;
    grid-gap: 20px;
    -ms-grid-columns: (minmax(100px, 1fr))[3];
        grid-template-columns: repeat(3, minmax(100px, 1fr));
  }
  .sub-links ul {
    display: -ms-grid;
    display: grid;
    grid-gap: 20px;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 500px) {
  .wrapper {
    font-size: 15px;
  }
  header {
    margin: 0;
    padding: 20px 0 0 0;
    position: static;
    display: -ms-grid;
    display: grid;
    grid-gap: 20px;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: "nt" "mn" "sb";
    text-align: center;
  }
  .netflixLogo {
    max-width: 100%;
    margin: auto;
    padding-right: 20px;
  }
  .main-nav {
    display: -ms-grid;
    display: grid;
    grid-gap: 0px;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }
  h1 {
    text-align: center;
    font-size: 18px;
  }
  .box {
    display: -ms-grid;
    display: grid;
    grid-gap: 20px;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }
  .box a:hover {
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    -webkit-transform: scale(1);
    transform: scale(1.2);
  }
  .logos {
    display: -ms-grid;
    display: grid;
    grid-gap: 20px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    text-align: center;
  }
  .sub-links ul {
    display: -ms-grid;
    display: grid;
    grid-gap: 20px;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    text-align: center;
    font-size: 15px;
  }
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.nav__black {
  background-color: #111;
}

.nav__avatar {
  position: fixed;
  right: 20px;
  width: 30px;
  -o-object-fit: contain;
     object-fit: contain;
}
/*# sourceMappingURL=navbar.css.map */